.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.Container{

border: solid black 1px;
padding:  1rem;
margin: 1rem;
list-style: none;
}
